---
import BaseLayout from "~/layouts/_base.astro";

import ContactForm from "~/components/ContactForm";
---

<BaseLayout title="Contact">
  <section
    class="flex min-h-[calc(100vh-14rem)] w-full flex-col items-center justify-center gap-16 py-16"
  >
    <div class="flex flex-col items-center gap-2">
      <span class="text-xl text-neutral-400 sm:text-3xl"
        >Got a project <span class="text-primary drop-shadow-[0_0_24px_rgba(245,220,120,0.8)]"
          >idea</span
        > in mind?</span
      >
      <span class="text-3xl font-bold sm:text-5xl">Let's get in touch!</span>
    </div>
    <ContactForm client:idle />
  </section>
</BaseLayout>
