---
import Base from "~/layouts/base.astro";
---

<Base title="Not found">
  <div class="flex min-h-[96vh] flex-col items-center justify-center gap-6 pt-16">
    <h1 class="text-2xl font-bold md:text-4xl">Error 404</h1>
    <p class="text-lg md:text-xl">Page not found</p>
  </div>
</Base>
