---
import BaseLayout from "~/layouts/_base.astro";

import HeroLogo from "~/components/home/HeroLogo.astro";
import IntroCard from "~/components/home/IntroCard.astro";
import ServicesSection from "~/components/home/ServicesSection.astro";
import Stars from "~/components/home/Stars.astro";

// TODO
const introCards = [
  {
    title: "TODO",
    smTitle: "TODO",
    xsTitle: "TODO",
    subtitle: "TODO",
    image: "https://placehold.co/300x300/png",
    href: "https://github.com/mugnavo",
  },
  {
    title: "TODO BLOG POST",
    smTitle: "TODO BLOG POST",
    xsTitle: "TODO BLOG POST",
    subtitle: "Latest blog post",
    image: "https://placehold.co/200x200/png",
    href: "https://venur.me",
  },
];
---

<BaseLayout>
  <section class="flex min-h-[620px] items-center justify-center gap-8">
    <div class="w-full">
      <div
        class="flex min-h-[220px] flex-col items-center gap-16 text-center md:items-start md:text-start"
      >
        <h1
          class="animate-hero-load max-w-sm text-3xl leading-snug font-bold sm:max-w-xl sm:text-6xl xl:max-w-3xl"
        >
          Digital products that can make a
          <span class="text-primary">difference.</span>
        </h1>
        <!-- <h2 class="max-w-sm text-lg text-neutral-300 sm:text-2xl md:max-w-md">
          Products that can make a difference.
        </h2> -->
        <div class="animate-hero-buttons flex gap-4 duration-75 max-sm:text-sm">
          <a
            href="#contact"
            title="Contact us"
            class="inline-flex h-13 items-center justify-center rounded-xl bg-neutral-50 px-6 font-semibold text-neutral-950 transition-colors duration-300 hover:bg-neutral-300"
            >Get in touch</a
          >
          <a
            href="#services"
            class="hover:bg-card inline-flex h-13 items-center justify-center rounded-xl px-6 font-semibold transition-colors duration-300"
            >View services</a
          >
        </div>
      </div>
    </div>
    <HeroLogo />
  </section>

  <div class="flex flex-col">
    <section class="bg-card grid w-full gap-4 rounded-3xl p-2 sm:p-6 xl:grid-cols-2">
      {introCards.map((intro) => <IntroCard {...intro} />)}
    </section>
    <section class="flex min-h-[1080px] w-full items-center justify-center">
      <div class="flex w-fit flex-col items-center gap-16">
        <span class="text-center text-2xl font-bold tracking-wide md:text-4xl"
          >Building for the future.</span
        >
        <p class="max-w-[42ch] text-lg tracking-wide text-neutral-300 md:text-2xl">
          We are a collective of developers and designers from the Philippines. Our mission is to
          push the boundaries of technological innovation by delivering products that excel in both
          quality and scalability.
        </p>
      </div>
      <Stars />
    </section>
    <ServicesSection />
    <section
      class="relative flex min-h-[768px] w-full flex-col items-center justify-center gap-16 2xl:min-h-[960px]"
    >
      <div id="contact" class="absolute top-16"></div>
      <div class="flex flex-col items-center gap-2 text-center">
        <span class="text-xl text-neutral-400 sm:text-3xl"
          >Got a project <span class="text-primary drop-shadow-[0_0_24px_rgba(245,220,120,0.8)]"
            >idea</span
          > in mind?</span
        >
        <span class="text-3xl font-bold sm:text-5xl">Let's get in touch!</span>
      </div>
      <!-- <ContactForm client:visible /> -->
    </section>
  </div>
</BaseLayout>
