---
interface Props {
  title: string;
  description: string;
  image: string;
  href: string;
}
const { title, description, image, href } = Astro.props;
---

<a href="#" class="group relative p-8">
  <span class="relative z-10 text-2xl font-bold">{title}</span>
  <div
    class="absolute inset-0 h-full w-full scale-98 rounded-2xl bg-neutral-800 opacity-0 transition duration-200 group-hover:scale-100 group-hover:opacity-100"
  >
  </div>
</a>
