<footer class="mx-auto w-full max-w-(--breakpoint-xl) px-6 lg:px-10">
  <div
    class="flex items-center justify-between rounded-t-xl bg-neutral-900/60 p-6 text-xs text-neutral-400"
  >
    <div class="flex w-full items-center justify-evenly gap-4 sm:w-auto sm:justify-start sm:gap-5">
      <svg
        class="h-5 w-5"
        fill="currentColor"
        width="36.493198mm"
        height="32.586742mm"
        viewBox="0 0 36.493198 32.586742"
        version="1.1"
        id="svg1"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g id="layer1" transform="translate(-1.7907233,-3.7066272)">
          <path
            id="path13"
            style="font-size:42.3333px;line-height:0;font-family:Serif;-inkscape-font-specification:Serif;letter-spacing:0px;word-spacing:0px;fill-opacity:1"
            d="m 78.239232,56.462426 2.959231,7.219223 a 1.28225,1.28225 90.136048 0 1 -0.0023,0.978297 l -8.7377,21.031 a 1.0595056,1.0595056 56.280652 0 0 0.978421,1.466008 l 4.514453,0 a 2.332251,2.332251 145.75794 0 0 2.16973,-1.476877 l 5.156148,-13.079008 a 0.1943076,0.1943076 1.3528807 0 1 0.364698,0.0086 l 4.443302,13.044557 a 2.2178105,2.2178105 35.594937 0 0 2.099362,1.502715 h 4.741829 A 1.0834472,1.0834472 124.31301 0 0 97.935312,85.67864 L 86.504592,56.471856 a 2.3260536,2.3260536 34.313006 0 0 -2.166071,-1.478314 l -5.113899,0 a 1.0649628,1.0649628 123.8554 0 0 -0.98539,1.468884 z m 14.127785,9.181319 8.074873,20.040741 a 2.3511585,2.3511585 34.027185 0 0 2.18079,1.472468 h 4.74183 a 1.0834523,1.0834523 124.31313 0 0 1.00894,-1.478316 l -7.83871,-20.029045 a 2.3260427,2.3260427 34.313131 0 0 -2.166067,-1.478316 h -5.007447 a 1.0718785,1.0718785 124.02718 0 0 -0.994209,1.472468 z"
            transform="translate(-70.375401,-51.075248)"></path>
        </g>
      </svg>
      {/* icons from https://feathericons.dev */}
      <a
        class="transition hover:brightness-200"
        title="Facebook"
        href="https://facebook.com/mugnavo"
        target="_blank"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3"
          ></path></svg
        >
      </a>
      <a
        class="transition hover:brightness-200"
        title="Instagram"
        href="https://instagram.com/mugnavo"
        target="_blank"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
        >
          <rect height="20" rx="5" ry="5" width="20" x="2" y="2"></rect>
          <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
          <line x1="17.5" x2="17.51" y1="6.5" y2="6.5"></line>
        </svg>
      </a>
      <a
        class="transition hover:brightness-200"
        title="X"
        href="https://x.com/mugnavo"
        target="_blank"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M4 4l11.733 16h4.267l-11.733 -16z"></path><path
            d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772"></path></svg
        >
      </a>
      <a
        class="transition hover:brightness-200"
        title="GitHub"
        href="https://github.com/mugnavo"
        target="_blank"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"
          ></path></svg
        ></a
      >
    </div>
    <div class="hidden sm:block">This website is a work in progress.</div>
  </div>
</footer>
