@import "tailwindcss" source("../");

@theme {
  --breakpoint-xs: 380px;
  --color-primary: #f5dc78;
  --font-main: "Outfit", sans-serif;

  --animate-dash: dash 24s linear infinite;
  --animate-dashgold: dashgold 42s linear infinite;
  --animatehero-load: hero-load 1.4s ease-out;
  --animate-fade: fade 1s ease-in;

  @keyframes dash {
    from {
      stroke-dashoffset: 0;
    }
    to {
      stroke-dashoffset: 16; /* double the stroke-dasharray */
    }
  }

  @keyframes dashgold {
    from {
      stroke-dashoffset: 0;
    }
    to {
      stroke-dashoffset: 80; /* double the stroke-dasharray */
    }
  }

  @keyframes hero-load {
    0% {
      opacity: 0.2;
      transform: translateY(14px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fade {
    from {
      opacity: 0.1;
    }
    to {
      opacity: 1;
    }
  }
}

@custom-variant touch {
  @media (pointer: coarse) {
    @slot;
  }
}

@layer base {
  :root {
    color-scheme: dark;
  }
  * {
    scrollbar-width: thin;
  }
}
